@import "variables";


/* Block 1 */
.block1{
    div{
        display:flex;
        align-items: center;
        flex-flow: column wrap;
        h1{
            @extend %font-title;
            font-size: 25px;
            color:#572EE5;
            padding-bottom: 31px;
            text-align: center;

        }
        img{
            max-width: 80%;
        }
        
    }
    .block1-bottom{
        padding: 35px 0px 90px;
        h6{
            @extend %font-title;
            font-size: 18px;
            color:#572EE5;
            text-align: center; 
        }
        p{
            @extend %font-medium;
            font-size: 16px;
            line-height: 25px;
            color:#572EE5;
            text-align: center;
            max-width: 60%;
        }
    }
    #searchBox{
        display: flex;
        flex-flow: column nowrap;
        //align-items: flex-start;
        
        border-radius: 27px;
        width: 80vw;
        max-width: 550px;
        min-width: 200px;
        height: 50px;
        outline: none;
        border: 1px solid #572EE5;
        background-color: var(--color_bg_primary);
        input{
            border: none;
            width: 90%;
            height: 750%;
            border-radius: 27px;
        }
        li{
            list-style: none;
        }
        
    }
}

.block2{
    div{
        display:flex;
        align-items: center;
        flex-flow: column wrap; 
        h3{
            @extend %font-title;
            font-size: 20px;
            color:#572EE5;
            text-align: center; 
        }
         p{
            @extend %font-medium;
            font-size: 16px;
            line-height: 23px;
            color:#000000;
            text-align: center;
            max-width: 60%;
        }

    }

}