@import "variables";



/* Bloque 1 */
.bloque1{
    
    article{
        display:flex;
        align-items: center;
        flex-flow: column wrap;
        h1{
            @extend %font-title;
            font-size: 25px;
            color:#572EE5;
            padding-bottom: 31px;
            text-align: center;

        }
        img{
            max-width: 80vw;
        }
        
    }
    .bloque1-bottom{
        h6{
            @extend %font-title;
            font-size: 18px;
            color:#572EE5;
            text-align: center; 
        }
        p{
            @extend %font-medium;
            font-size: 16px;
            color:#572EE5;
            text-align: center;
        }
    }
    #searchBox{
        border-radius: 27px;
        width: 80vw;
        height: 50px;
        outline: none;
        border: 1px solid #572EE5;
    }
}