.mainSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;

}

.mainCreate{
    border: dotted  2px green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:  wrap;
    max-width: 520px;
    .leftColumn{
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap:  nowrap;
    }
    .rightColumn{
        height: auto;
    }
    .column{
        padding: 20px 0;
    }
    .videoGrid{
        border: solid 1px #572EE5;
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        
        .videoBox{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .createText{
            @extend %font-medium2; 
            color:var(--color_txt_therd);
            text-align: center;
        }
        .hide{
            display: hide;
        }
        .video{
            display: none;
        }
        .videoShow{
            display: inline;
            max-height: 320px;
           // max-width: 480px;
        }
    
    }

}


.videoStatus{
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    justify-content: center;
    width: 55vw;
    padding: 0 65px;
    .statusBar{
        display: block;
        border: solid #572EE5;
        width: 100%;
        border-radius: 25px;
    }
    .step{
        @extend %font-medium2; 
        color:var(--color_txt_therd);
    }
    .videoBTN{
        border: 1px solid #572EE5;
        border-radius: 25px;
    }
    
}

//Botones de paso a paso
