@import "variables";
@import "body";

.mainTitle{
    @extend %font-title;
    font-size: 25px;
    color:var(--color_txt_primary);
    padding-bottom: 31px;
    text-align: center;

}
.spanGifos{
    @extend %font-title;
    font-size: 25px;
    color:#50E3C2;
    
}
 #favResault-gif{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        row-gap: 1px;
        column-gap: 10px;
        img{
            width: 260px;
            height: 200px;
            //object-fit: cover;
        }
}

//Aplica a Fav y a Search          
.divHover{
    display: block;
    position:relative;
    opacity: 0.6;
    background-color: transparent;
    width: 260px;
    height: 200px;
    //top:-200px;
    left:-260px;
    .divHover-btn{
        display: flex;
        justify-content: flex-end;
        .heart{
            padding: 5px 5px;
            content: url('');
        }
        .heart:hover{
            content: url('../img/icon-fav-hover.svg')
        }
        .down{
            padding: 5px 5px;
            content: url('')
        }
        .down:hover{
            content: url('../img/icon-download-hover.svg')
        }
        .max{
            padding: 5px 5px;
            content: url('');
        }
        .max:hover{
            content: url('../img/icon-max-hover.svg')
        }
    }
    .divHover-user{
        display: none;
        flex-flow: column nowrap;
        padding-top: 35%;
        i{
            font-family: $fontSecundary;
            font-style: normal;
            color: white;
            padding: 0 10px 0;
        }
        i:last-child{
            font-weight: 700;
        }
    }
}
.divHover:hover{
    background-color: #572EE5
}
.divHover:hover .divHover-btn .heart{
    content: url('../img/icon-fav.svg');
}
.divHover:hover .divHover-btn .heart:hover{
    content: url('../img/icon-fav-hover.svg')
}
.divHover:hover .divHover-btn .down{
    content: url('../img/icon-download.svg')
}
.divHover:hover .divHover-btn .down:hover{
    content: url('../img/icon-download-hover.svg')
}
.divHover:hover .divHover-btn .max{
    content: url('../img/icon-max-normal.svg');
}
.divHover:hover .divHover-btn .max:hover{
    content: url('../img/icon-max-hover.svg')
}
.divHover:hover .divHover-user{
    display: flex;
}            
