/**
Fonts Config
*/
$fontMain: 'Montserrat', sans-serif;
$fontSecundary: 'Roboto', sans-serif;


%font-title {
    font-family: $fontMain;
    font-weight: 700;
}

%font-medium {
    font-family: $fontMain;
    font-weight: 400;
}

%font-title2{
    font-family: $fontSecundary;
    font-weight: 900;
}

%font-medium2{
    font-family: $fontSecundary;
    font-weight: 400;
}
%font-medium700{
    font-family: $fontSecundary;
    font-weight: 700;
}

/* Dark mode styles */
/* Light colors*/
$color_bg_primary: #ffff;
$color_bg_secundary:#F3F5F8;
$color_bg_mobile: #572EE5;
$color_txt_primary: #572EE5;
$color_txt_secundary:#50E3C2;
$color_txt_therd: #000000;
$leftGlass: url('../img/icon-search.svg');
$leftCross: url('../img/close.svg');
$createGifo: url('../img/button-crear-gifo.svg');
$createGifoHover: url('../img/CTA-crear-gifo-hover.svg');
$step1:url('../img/paso-1.svg');
$step2:url('../img/paso-2.svg');
$step3:url('../img/paso-3.svg');
$step1Active:url('../img/paso-1-hover.svg');
$step2Active:url('../img/paso-2-hover.svg');
$step3Active:url('../img/paso-3-hover.svg');
$leftBtn:url('../img/button-slider-left.svg');
$rigthBtn:url('../img/Button-Slider-right.svg');
$leftBtnHover:url('../img/button-slider-left-hover.svg');
$rigthBtnHover:url('../img/Button-Slider-right-hover.svg');
$seeMore:url('../img/CTA-ver-mas.svg');
$seeMoreHover: url('../img/CTA-ver-mas-hover.svg');
/* Dark colors*/
$color_bg_primary--dark: #37383C;
$color_bg_secundary--dark:#222326;
$color_bg_mobile--dark: #000000;
$color_txt_primary--dark: #ffff;
$color_txt_secundary--dark:#50E3C2;
$color_txt_therd--dark: #ffff;
$leftGlass--dark: url('../img/icon-search-modo-noct.svg');
$leftCross--dark: url('../img/close-modo-noct.svg');
$createGifo--dark: url('../img/CTA-crear-gifo-modo-noc.svg');
$step1--dark: url('../img/paso-1-noc.svg');
$step2--dark:url('../img/paso-2-noc.svg');
$step3--dark:url('../img/paso-3-noc.svg');
$leftBtn--dark:url('../img/button-slider-left-md-noct.svg');
$rigthBtn--dark:url('../img/button-slider-right-md-noct.svg');
$leftBtnHover--dark:url('../img/button-slider-left.svg');
$rigthBtnHover--dark:url('../img/Button-Slider-right.svg');
$seeMore--dark: url('../img/CTA-ver+-modo-noc.svg');
$seeMoreHover--dark: url('../img/CTA-ver+hover-modo-noc.svg');
.theme{
    --color_bg_primary: #{$color_bg_primary};
    --color_bg_secundary: #{$color_bg_secundary};
    --color_bg_mobile:#{$color_bg_mobile};
    --color_txt_primary: #{$color_txt_primary};
    --color_txt_secundary: #{$color_txt_secundary};
    --color_txt_therd: #{$color_txt_therd};
    --iconGlass: #{$leftGlass};
    --iconCross: #{$leftCross};
    --createGifo: #{$createGifo};
    --createGifoHover: #{$createGifoHover};
    --step1: #{$step1};
    --step2: #{$step2};
    --step3: #{$step3};
    --step1Active: #{$step1Active};
    --step2Active: #{$step2Active};
    --step3Active: #{$step3Active};
    --leftBtn: #{$leftBtn};
    --rigthBtn: #{$rigthBtn};
    --leftBtnHover: #{$leftBtnHover};
    --rigthBtnHover: #{$rigthBtnHover};
    --seeMore: #{$seeMore};
    --seeMoreHover: #{$seeMoreHover};
    &--dark{
        --color_bg_primary: #{$color_bg_primary--dark};
        --color_bg_secundary: #{$color_bg_secundary--dark};
        --color_bg_mobile:#{$color_bg_mobile--dark};
        --color_txt_primary: #{$color_txt_primary--dark};
        --color_txt_secundary: #{color_txt_secundary--dark};
        --color_txt_therd: #{$color_txt_therd--dark};
        --iconGlass: #{$leftGlass--dark};
        --iconCross: #{$leftCross--dark};
        --createGifo: #{$createGifo--dark};
        --step1: #{$step1--dark};
        --step2: #{$step2--dark};
        --step3: #{$step3--dark};
        --leftBtn: #{$leftBtn--dark};
        --rigthBtn: #{$rigthBtn--dark};
        --leftBtnHover: #{$leftBtnHover--dark};
        --rigthBtnHover: #{$rigthBtnHover--dark};
        --seeMore: #{$seeMore--dark};
        --seeMoreHover: #{$seeMoreHover--dark};    
    }
}