/**
Fonts Config
*/
$fontMain: 'Montserrat', sans-serif;
$fontSecundary: 'Roboto', sans-serif;


%font-title {
    font-family: $fontMain;
    font-weight: 700;
}

%font-medium {
    font-family: $fontMain;
    font-weight: 400;
}

%font-title2{
    font-family: $fontSecundary;
    font-weight: 900;
}

%font-medium2{
    font-family: $fontSecundary;
    font-weight: 400;
}
%font-medium700{
    font-family: $fontSecundary;
    font-weight: 700;
}

/* Dark mode styles */
/* Light colors*/
$color_bg_primary: #ffff;
$color_bg_secundary:#F3F5F8;
$color_txt_primary: #572EE5;
$color_txt_secundary:#50E3C2;
$color_txt_therd: #000000;
$leftGlass: url('../img/icon-search.svg');
$leftCross: url('../img/close.svg');
$createGifo: url('../img/button-crear-gifo.svg');
$createGifoHover: url('../img/CTA-crear-gifo-hover.svg');
/* Dark colors*/
$color_bg_primary--dark: #37383C;
$color_bg_secundary--dark:#222326;
$color_bg_mobile--dark: #000000;
$color_txt_primary--dark: #ffff;
$color_txt_secundary--dark:#50E3C2;
$color_txt_therd--dark: #ffff;
$leftGlass--dark: url('../img/icon-search-modo-noct.svg');
$leftCross--dark: url('../img/close-modo-noct.svg');
$createGifo--dark: url('../img/CTA-crear-gifo-modo-noc.svg');
.theme{
    --color_bg_primary: #{$color_bg_primary};
    --color_bg_secundary: #{$color_bg_secundary};
    --color_txt_primary: #{$color_txt_primary};
    --color_txt_secundary: #{$color_txt_secundary};
    --color_txt_therd: #{$color_txt_therd};
    --iconGlass: #{$leftGlass};
    --iconCross: #{$leftCross};
    --createGifo: #{$createGifo};
    --createGifoHover: #{$createGifoHover};
    &--dark{
        --color_bg_primary: #{$color_bg_primary--dark};
        --color_bg_secundary: #{$color_bg_secundary--dark};
        --color_bg_mobile--dark:#{color_bg_mobile--dark};
        --color_txt_primary: #{$color_txt_primary--dark};
        --color_txt_secundary: #{color_txt_secundary--dark};
        --color_txt_therd: #{$color_txt_therd--dark};
        --iconGlass: #{$leftGlass--dark};
        --iconCross: #{$leftCross--dark};
        --createGifo: #{$createGifo--dark};    
    }
}