@charset "UTF-8";
.MenuHeader li a, .bloque1 article h1, .bloque1 .bloque1-bottom h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.bloque1 .bloque1-bottom p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Armar fuentes dark */
/* Mobile First HEADER breakpoint 320*/
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0% 0% 5%;
}

header nav .createButtom {
  display: none;
}

header nav .logo {
  padding: 5% 5% 0%;
}

header nav .MenuHambuerguesa {
  padding: 5% 6% 0%;
}

/*Menu Hamburguesa*/
.MenuHeader {
  background-color: rgba(87, 46, 229, 0.9);
  display: none;
  position: absolute;
  left: 0;
  top: 90px;
  width: 100%;
  padding-bottom: 100vw;
}

.MenuHeader li:first-child {
  margin-top: 17px;
}

.MenuHeader li {
  background-color: transparent;
  list-style: none;
  text-align: center;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MenuHeader li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 15px;
  background-color: transparent;
}

.MenuHeader li span {
  display: block;
  position: relative;
  background-color: #FFFFFF;
  height: 1px;
  width: 41px;
  top: 15px;
}

.menuH::after {
  content: url("/_Gifos/local/img/burger.svg");
}

.MenuHambuerguesa .check {
  display: none;
}

.check:checked ~ .MenuHeader {
  display: block;
  position: absolute;
  width: 100%;
  height: 250px;
}

/* establecer cruz para cerrar menú hamburguesa
¿se puede simplificar estas lineas? ¿anidar?*/
.check:checked ~ .menuH::before {
  content: url("/_Gifos/local/img/close.svg");
}

.check:checked ~ .menuH::after {
  content: none;
}

/* Desktop 
@media screen and (min-width: 321px) and (max-width: 740px){
    header{
        nav{
            display: flex;
    
            ul{
                display: flex;
                li{
                    text-decoration:none;
                    list-style: none;
                }
            }
            .createButtom{
                display: inline-block;
    
            }
    
        }
    
    
    }
}

*/
.MenuHeader li a, .bloque1 article h1, .bloque1 .bloque1-bottom h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.bloque1 .bloque1-bottom p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Armar fuentes dark */
/* Bloque 1 */
.bloque1 article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.bloque1 article h1 {
  font-size: 25px;
  color: #572EE5;
  padding-bottom: 31px;
  text-align: center;
}

.bloque1 article img {
  max-width: 80vw;
}

.bloque1 .bloque1-bottom h6 {
  font-size: 18px;
  color: #572EE5;
  text-align: center;
}

.bloque1 .bloque1-bottom p {
  font-size: 16px;
  color: #572EE5;
  text-align: center;
}

.bloque1 #searchBox {
  border-radius: 27px;
  width: 80vw;
  height: 50px;
  outline: none;
  border: 1px solid #572EE5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  border-top: solid 5px #572EE5;
}
/*# sourceMappingURL=style.css.map */