@charset "UTF-8";
/**
Fonts Config
*/
.MenuHeader li a, .block1 .searchSection h1, .block1 .block1-bottom h6, .searchResultSection h1, .block2 div h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.block1 .block1-bottom p, .block2 div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Dark mode styles */
/* Light colors*/
/* Dark colors*/
.theme {
  --color_bg_primary: #ffff;
  --color_bg_secundary: #F3F5F8;
  --color_txt_primary: #572EE5;
  --color_txt_secundary: color_txt_secundary;
}

.theme--dark {
  --color_bg_primary: #37383C;
  --color_bg_secundary: #222326;
  --color_bg_mobile--dark:color_bg_mobile--dark;
  --color_txt_primary: #ffff;
  --color_txt_secundary: color_txt_secundary--dark;
}

/**
Fonts Config
*/
.MenuHeader li a, .block1 .searchSection h1, .block1 .block1-bottom h6, .searchResultSection h1, .block2 div h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.block1 .block1-bottom p, .block2 div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Dark mode styles */
/* Light colors*/
/* Dark colors*/
.theme {
  --color_bg_primary: #ffff;
  --color_bg_secundary: #F3F5F8;
  --color_txt_primary: #572EE5;
  --color_txt_secundary: color_txt_secundary;
}

.theme--dark {
  --color_bg_primary: #37383C;
  --color_bg_secundary: #222326;
  --color_bg_mobile--dark:color_bg_mobile--dark;
  --color_txt_primary: #ffff;
  --color_txt_secundary: color_txt_secundary--dark;
}

/* Mobile First HEADER breakpoint 320*/
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0% 0% 5%;
}

header nav .createButtom {
  display: none;
}

header nav .logo {
  padding: 5% 5% 0%;
}

header nav .MenuHambuerguesa {
  padding: 5% 6% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Menu Hamburguesa*/
.MenuHeader {
  background-color: rgba(87, 46, 229, 0.9);
  display: none;
  top: 90px;
  width: 100%;
  padding-bottom: 100vw;
}

.MenuHeader li:first-child {
  margin-top: 17px;
}

.MenuHeader li {
  background-color: transparent;
  list-style: none;
  text-align: center;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MenuHeader li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 15px;
  background-color: transparent;
}

.MenuHeader li span {
  display: block;
  position: relative;
  background-color: #FFFFFF;
  height: 1px;
  width: 41px;
  top: 15px;
}

.menuH {
  cursor: pointer;
}

.menuH::after {
  content: url("/_Gifos/local/img/burger.svg");
}

.MenuHambuerguesa .check {
  display: none;
}

.check:checked ~ .MenuHeader {
  display: block;
  position: absolute;
  right: 0px;
  width: 100%;
  height: 250px;
}

/* establecer cruz para cerrar menú hamburguesa
¿se puede simplificar estas lineas? ¿anidar?*/
.check:checked ~ .menuH::before {
  content: url("/_Gifos/local/img/close.svg");
}

.check:checked ~ .menuH::after {
  content: none;
}

/* Tablet 
@media screen and (min-width: 321px) and (max-width: 740px){
    .menuH{
        display: none;
    }
 
}
*/
/* desktop */
@media screen and (min-width: 375px) and (max-width: 1440px) {
  .menuH {
    display: none;
  }
  header nav .MenuHambuerguesa .MenuHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    width: 100%;
    padding-bottom: 0vw;
  }
  header nav .MenuHambuerguesa .MenuHeader li:first-child {
    margin-top: 0px;
  }
  header nav .MenuHambuerguesa .MenuHeader li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    height: 60px;
  }
  header nav .MenuHambuerguesa .MenuHeader li a {
    text-decoration: none;
    color: #572EE5;
    font-size: 15px;
  }
  header nav .MenuHambuerguesa .MenuHeader li span {
    display: none;
  }
}

/**
Fonts Config
*/
.MenuHeader li a, .block1 .searchSection h1, .block1 .block1-bottom h6, .searchResultSection h1, .block2 div h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.block1 .block1-bottom p, .block2 div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Dark mode styles */
/* Light colors*/
/* Dark colors*/
.theme {
  --color_bg_primary: #ffff;
  --color_bg_secundary: #F3F5F8;
  --color_txt_primary: #572EE5;
  --color_txt_secundary: color_txt_secundary;
}

.theme--dark {
  --color_bg_primary: #37383C;
  --color_bg_secundary: #222326;
  --color_bg_mobile--dark:color_bg_mobile--dark;
  --color_txt_primary: #ffff;
  --color_txt_secundary: color_txt_secundary--dark;
}

/* Block 1 */
.block1 .searchSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.block1 .searchSection h1 {
  font-size: 25px;
  color: #572EE5;
  padding-bottom: 31px;
  text-align: center;
}

.block1 .searchSection img {
  max-width: 80%;
}

.block1 .block1-bottom {
  padding: 35px 0px 90px;
}

.block1 .block1-bottom h6 {
  font-size: 18px;
  color: #572EE5;
  text-align: center;
}

.block1 .block1-bottom p {
  font-size: 16px;
  line-height: 25px;
  color: #572EE5;
  text-align: center;
  max-width: 60%;
}

.block1 #searchBox {
  display: block;
  width: 80vw;
  max-width: 550px;
  min-width: 200px;
  height: 50px;
  outline: none;
  border-radius: 27px;
  border: 1px solid #572EE5;
  background-color: var(--color_bg_primary);
}

.block1 #searchBox input {
  border: none;
  border-style: none;
  padding: 0 25px;
  width: 100%;
  height: 50%;
  border: none;
  outline: none;
  border-radius: 27px;
  background-color: var(--color_bg_primary);
}

.block1 #searchBox ul {
  display: block;
  border: 1px solid #572EE5;
  padding-top: 10px;
}

.block1 #searchBox ul li:first-child {
  padding-top: 10px;
}

.block1 #searchBox ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  list-style: none;
  color: #9CAFC3;
}

.block1 #searchBox ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #9CAFC3;
}

.searchResultSection {
  padding: 0 50px 0;
}

.searchResultSection h1 {
  font-size: 25px;
  color: #572EE5;
  padding-bottom: 31px;
  text-align: center;
}

.searchResultSection .searchContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.searchResultSection .searchContainer .searchResult-gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.searchResultSection .searchContainer .searchResult-gif img {
  width: 200px;
}

.block2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.block2 div h3 {
  font-size: 20px;
  color: #572EE5;
  text-align: center;
}

.block2 div p {
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  text-align: center;
  max-width: 60%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  border-top: solid 5px #572EE5;
  background-color: var(--color_bg_primary);
}
/*# sourceMappingURL=style.css.map */