@charset "UTF-8";
/**
Fonts Config
*/
.MenuHeader li a, .mainTitle, .spanGifos, .block-search .block-search-bottom h6, .blockTrend .blockTrendIntro h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.block-search .block-search-bottom div p, .blockTrend .blockTrendIntro p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.footer .footerSocialNT p, .footer .footerGifos p, .favEmpty p, .mainCreate .videoGrid .createText, .videoStatus .step {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* Dark mode styles */
/* Light colors*/
/* Dark colors*/
.theme {
  --color_bg_primary: #ffff;
  --color_bg_secundary: #F3F5F8;
  --color_txt_primary: #572EE5;
  --color_txt_secundary: #50E3C2;
  --color_txt_therd: #000000;
  --iconGlass: url("../img/icon-search.svg");
  --iconCross: url("../img/close.svg");
  --createGifo: url("../img/button-crear-gifo.svg");
  --createGifoHover: url("../img/CTA-crear-gifo-hover.svg");
}

.theme--dark {
  --color_bg_primary: #37383C;
  --color_bg_secundary: #222326;
  --color_bg_mobile--dark:color_bg_mobile--dark;
  --color_txt_primary: #ffff;
  --color_txt_secundary: color_txt_secundary--dark;
  --color_txt_therd: #ffff;
  --iconGlass: url("../img/icon-search-modo-noct.svg");
  --iconCross: url("../img/close-modo-noct.svg");
  --createGifo: url("../img/CTA-crear-gifo-modo-noc.svg");
}

/* Mobile First HEADER breakpoint 320*/
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0% 0% 5%;
}

header nav .logo {
  padding: 5% 5% 0%;
}

header nav #stickySearch {
  display: none;
}

header nav .createButtom {
  display: none;
}

header nav .MenuHambuerguesa {
  padding: 5% 6% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Menu Hamburguesa*/
.MenuHeader {
  background-color: rgba(87, 46, 229, 0.9);
  display: none;
  top: 90px;
  width: 100%;
  padding-bottom: 100vw;
}

.MenuHeader li:first-child {
  margin-top: 17px;
}

.MenuHeader li {
  background-color: transparent;
  list-style: none;
  text-align: center;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.MenuHeader li a {
  text-decoration: none;
  color: var(--color_txt_primary);
  font-size: 15px;
  background-color: transparent;
}

.MenuHeader li span {
  display: block;
  position: relative;
  background-color: #FFFFFF;
  height: 1px;
  width: 41px;
  top: 15px;
}

.menuH {
  cursor: pointer;
}

.menuH::after {
  content: url("/_Gifos/local/img/burger.svg");
}

.MenuHambuerguesa .check {
  display: none;
}

.check:checked ~ .MenuHeader {
  display: block;
  position: absolute;
  right: 0px;
  width: 100%;
  height: 250px;
}

/* establecer cruz para cerrar menú hamburguesa
¿se puede simplificar estas lineas? ¿anidar?*/
.check:checked ~ .menuH::before {
  content: url("/_Gifos/local/img/close.svg");
}

.check:checked ~ .menuH::after {
  content: none;
}

/* Tablet 
@media screen and (min-width: 321px) and (max-width: 740px){
    .menuH{
        display: none;
    }
 
}
*/
/* desktop */
@media screen and (min-width: 375px) and (max-width: 1440px) {
  .menuH {
    display: none;
  }
  header {
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: var(--color_bg_primary);
    z-index: +100;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1vw 0 4vw;
  }
  header nav .logo {
    padding: 0;
    cursor: pointer;
  }
  header nav .createButtom {
    display: block;
    padding: 0 2vw 0 0;
    cursor: pointer;
  }
  header nav .createButtom .createButtom-img {
    content: var(--createGifo);
  }
  header nav .createButtom .createButtom-img:hover {
    content: url("../img/CTA-crear-gifo-hover.svg");
  }
  header nav .MenuHambuerguesa {
    padding: 0 0 0 25vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .MenuHambuerguesa .MenuHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    width: 100%;
    padding: 0 5px 0;
  }
  header nav .MenuHambuerguesa .MenuHeader li:first-child {
    margin-top: 0px;
  }
  header nav .MenuHambuerguesa .MenuHeader li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    height: 60px;
    padding: 0 2vw;
  }
  header nav .MenuHambuerguesa .MenuHeader li a {
    text-decoration: none;
    color: var(--color_txt_primary);
    font-size: 15px;
  }
  header nav .MenuHambuerguesa .MenuHeader li span {
    display: none;
  }
}

.mainTitle {
  font-size: 25px;
  color: var(--color_txt_primary);
  padding: 7vw 0 5vw;
  text-align: center;
}

.spanGifos {
  font-size: 25px;
  color: #50E3C2;
}

.gifoMax {
  display: none;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vw;
  background-color: #fff;
}

.gifoMax .closeMax {
  cursor: pointer;
}

/* Block 1  */
.block-search .searchSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-search .searchSection img {
  max-width: 70vw;
}

.block-search .searchSection .searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 27px;
  border: 1px solid #572EE5;
  background-color: var(--color_bg_primary);
  width: 500px;
}

.block-search .searchSection .searchBox input {
  border: none;
  border-style: none;
  border-radius: 27px;
  padding: 5px 15px;
  width: 75%;
  height: 40px;
  margin: 0 0 0 15px;
  background-color: transparent;
  color: var(--color_txt_therd);
}

.block-search .searchSection .searchBox .glassSearch {
  width: 20px;
  padding: 0 15px;
  content: var(--iconGlass);
}

.block-search .searchSection .searchBox .glassCross {
  width: 15px;
  padding: 0 10px;
  content: var(--iconCross);
  cursor: pointer;
}

.block-search .searchSection .searchBox input:focus {
  outline: none;
}

.block-search .searchSection .searchBox .ulSearch {
  padding: 10px 5px;
}

.block-search .searchSection .searchBox .ulSearch li {
  padding: 5px 5px;
  list-style: none;
  color: #9CAFC3;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.block-search .searchSection .searchBox i {
  content: var(--iconGlass);
}

.block-search .block-search-bottom {
  padding: 35px 0px 90px;
}

.block-search .block-search-bottom h6 {
  font-size: 18px;
  color: var(--color_txt_primary);
  text-align: center;
}

.block-search .block-search-bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-search .block-search-bottom div p {
  padding: 0 5px;
  font-size: 16px;
  line-height: 25px;
  color: var(--color_txt_primary);
  text-align: center;
  max-width: 60%;
  cursor: pointer;
}

.searchResultSection {
  padding: 0 5px 0;
}

.searchResultSection .searchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchResultSection .seeMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem 0;
}

.searchResultSection .seeMore .seeMoreButton {
  content: url("../img/CTA-ver-mas.svg");
}

.searchResultSection .seeMore .seeMoreButton:hover {
  content: url("../img/CTA-ver-mas-hover.svg");
}

.searchResultSection .seeMore .displayNone {
  display: none;
}

.searchResault-gif {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
      grid-template-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  row-gap: 20px;
  /*     @supports(object-fit: cover){
        img{
          height: ;
          object-fit: cover;
          object-position: center center;
        }
    } */
}

.searchResault-gif img {
  width: 15em;
  height: 11.5em;
}

.searchResault-gif .divHover {
  display: block;
  position: relative;
  opacity: 0.6;
  background-color: transparent;
  width: 15em;
  height: 11.5em;
  left: -15em;
}

.searchResault-gif .divHover .divHover-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.searchResault-gif .divHover .divHover-btn .heart {
  padding: 5px 5px;
  content: url("");
}

.searchResault-gif .divHover .divHover-btn .heart:hover {
  content: url("../img/icon-fav-hover.svg");
}

.searchResault-gif .divHover .divHover-btn .heartActive {
  content: url("../img/icon-fav-active.svg");
}

.searchResault-gif .divHover .divHover-btn .down {
  padding: 5px 5px;
  content: url("");
}

.searchResault-gif .divHover .divHover-btn .down:hover {
  content: url("../img/icon-download-hover.svg");
}

.searchResault-gif .divHover .divHover-btn .max {
  padding: 5px 5px;
  content: url("");
}

.searchResault-gif .divHover .divHover-btn .max:hover {
  content: url("../img/icon-max-hover.svg");
}

.searchResault-gif .divHover .divHover-user {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-top: 35%;
}

.searchResault-gif .divHover .divHover-user i {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: white;
  padding: 0 10px 0;
}

.searchResault-gif .divHover .divHover-user i:last-child {
  font-weight: 700;
}

.searchResault-gif .divHover:hover {
  background-color: #572EE5;
}

.searchResault-gif .divHover:hover .divHover-btn .heart {
  content: url("../img/icon-fav.svg");
}

.searchResault-gif .divHover:hover .divHover-btn .heart:hover {
  content: url("../img/icon-fav-hover.svg");
}

.searchResault-gif .divHover:hover .divHover-btn .down {
  content: url("../img/icon-download.svg");
}

.searchResault-gif .divHover:hover .divHover-btn .down:hover {
  content: url("../img/icon-download-hover.svg");
}

.searchResault-gif .divHover:hover .divHover-btn .max {
  content: url("../img/icon-max-normal.svg");
}

.searchResault-gif .divHover:hover .divHover-btn .max:hover {
  content: url("../img/icon-max-hover.svg");
}

.searchResault-gif .divHover:hover .divHover-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trendGifos-Container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px;
      grid-template-columns: 1fr 20px 1fr 20px 1fr 20px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  row-gap: 20px;
}

.trendGifos-Container img {
  width: 260px;
  height: 200px;
}

.blockTrend {
  padding: 0 50px 100px;
  background-color: var(--color_bg_secundary);
}

.blockTrend .blockTrendIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 3rem 0 3rem;
}

.blockTrend .blockTrendIntro h3 {
  font-size: 20px;
  color: var(--color_txt_primary);
  text-align: center;
  padding: 0 0 1rem;
}

.blockTrend .blockTrendIntro p {
  font-size: 16px;
  line-height: 23px;
  color: var(--color_txt_therd);
  text-align: center;
  max-width: 60%;
}

.blockTrend .trendGifos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  row-gap: 1px;
}

.blockTrend .trendGifos .buttonSliderLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blockTrend .trendGifos .buttonSliderLeft .leftbtn {
  content: url("../img/button-slider-left.svg");
}

.blockTrend .trendGifos .buttonSliderLeft .leftbtn:hover {
  content: url("../img/button-slider-left-hover.svg");
}

.blockTrend .trendGifos .buttonSliderRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blockTrend .trendGifos .buttonSliderRight .rigthbtn {
  content: url("../img/Button-Slider-right.svg");
}

.blockTrend .trendGifos .buttonSliderRight .rigthbtn:hover {
  content: url("../img/Button-Slider-right-hover.svg");
}

/* .mainTitle{
    @extend %font-title;
    font-size: 25px;
    color:var(--color_txt_primary);
    padding-bottom: 31px;
    text-align: center;

} */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 50px;
}

.footer .footerSocialNT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 25px 0;
}

.footer .footerSocialNT p {
  font-size: 13px;
  color: var(--color_txt_therd);
}

.footer .footerSocialNT img {
  padding: 0 15px 0;
}

.footer .footerGifos p {
  font-size: 13px;
  color: var(--color_txt_therd);
}

.favIconHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.favEmpty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.favEmpty p {
  color: #50E3C2;
  width: 20rem;
  text-align: center;
}

.displayNone {
  display: none;
}

.favContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#favResault-gif {
  /*         display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        row-gap: 1px;
        column-gap: 10px; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
      grid-template-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  row-gap: 20px;
}

#favResault-gif img {
  width: 260px;
  height: 200px;
}

.seeMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem 0;
}

.seeMore .seeMoreButton {
  content: url("../img/CTA-ver-mas.svg");
}

.seeMore .seeMoreButton:hover {
  content: url("../img/CTA-ver-mas-hover.svg");
}

.divHover {
  display: block;
  position: relative;
  opacity: 0.6;
  background-color: transparent;
  width: 260px;
  height: 200px;
  left: -260px;
}

.divHover .divHover-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.divHover .divHover-btn .heart {
  padding: 5px 5px;
  content: url("");
}

.divHover .divHover-btn .heart:hover {
  content: url("../img/icon-fav-hover.svg");
}

.divHover .divHover-btn .down {
  padding: 5px 5px;
  content: url("");
}

.divHover .divHover-btn .down:hover {
  content: url("../img/icon-download-hover.svg");
}

.divHover .divHover-btn .max {
  padding: 5px 5px;
  content: url("");
}

.divHover .divHover-btn .max:hover {
  content: url("../img/icon-max-hover.svg");
}

.divHover .divHover-user {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-top: 35%;
}

.divHover .divHover-user i {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: white;
  padding: 0 10px 0;
}

.divHover .divHover-user i:last-child {
  font-weight: 700;
}

.divHover:hover {
  background-color: #572EE5;
}

.divHover:hover .divHover-btn .heart {
  content: url("../img/icon-fav.svg");
}

.divHover:hover .divHover-btn .heart:hover {
  content: url("../img/icon-fav-hover.svg");
}

.divHover:hover .divHover-btn .down {
  content: url("../img/icon-download.svg");
}

.divHover:hover .divHover-btn .down:hover {
  content: url("../img/icon-download-hover.svg");
}

.divHover:hover .divHover-btn .max {
  content: url("../img/icon-max-normal.svg");
}

.divHover:hover .divHover-btn .max:hover {
  content: url("../img/icon-max-hover.svg");
}

.divHover:hover .divHover-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.mainCreate {
  border: dotted  2px green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 520px;
}

.mainCreate .leftColumn {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.mainCreate .rightColumn {
  height: auto;
}

.mainCreate .column {
  padding: 20px 0;
}

.mainCreate .videoGrid {
  border: solid 1px #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.mainCreate .videoGrid .videoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainCreate .videoGrid .createText {
  color: var(--color_txt_therd);
  text-align: center;
}

.mainCreate .videoGrid .hide {
  display: hide;
}

.mainCreate .videoGrid .video {
  display: none;
}

.mainCreate .videoGrid .videoShow {
  display: inline;
  max-height: 320px;
}

.videoStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55vw;
  padding: 0 65px;
}

.videoStatus .statusBar {
  display: block;
  border: solid #572EE5;
  width: 100%;
  border-radius: 25px;
}

.videoStatus .step {
  color: var(--color_txt_therd);
}

.videoStatus .videoBTN {
  border: 1px solid #572EE5;
  border-radius: 25px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  border-top: solid 5px #572EE5;
  background-color: var(--color_bg_primary);
  border-bottom: solid 5px #572EE5;
}
/*# sourceMappingURL=style.css.map */